{{!-- find a way to make a recipe a fav in the db --}}

<form class="recipe-submit">
  <div class="form-group">
    <label for="recipeSearch">Search for a recipe</label>
    <input type="text" class="form-control" id="searched-recipe" placeholder="Recipe Search">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
