
<div>You are on the homepage</div>




<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://acceleratechange.org/wp-content/uploads/2019/09/ACF-logo-placeholder.png" class="d-block w-70" alt="picture of food">
    </div>
    {{#each recipe as |recipes|}}
    {{!-- {{log recipes}} --}}
    <div class="carousel-item">
      <img src="{{recipes.recipe.image}}" class="d-block w-70" alt="picture of food">
    </div>
    {{/each}}
  </div>
</div>


  {{!-- {{#each recipe as |recipes|}}
  <li>
      {{log recipes.recipe}}
    {{ recipes.recipe.label }}
  </li>
  {{/each}} --}}